<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.jjarfi.sibntt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ntt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity android:name=".TarianActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".MusikActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".MakananActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".RumahActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".PakaianActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".SejarahActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".SukuActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ProvinsiActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>